  <!-- <link rel="stylesheet" href="/css/user.css"> -->
  <!-- if we add the css file in this fashion then that css file link will get add into the body  -->
  <link rel="stylesheet" href="/css/user.css">
        <h1>Sign-In</h1>
        
        
        <form action="/user/create-session" method="POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="enter password" required>
            <input type="submit" value="Sign-In">
        </form>









